{% extends 'BancoBundle::layout.html.twig' %}


{% block main %}
    <h1>Bienvenido al Sistema Bancario</h1>
    <h2>Ha iniciado sesión como: <span style="font-style: italic">{{ app.user.username }}</span>!</h2>
{% endblock %}